@import'../../styles/variables.scss';

.search-bar-con{
  background-color: $bgColorGrad;
  background-image: $bgImgGrad;
  border: $bgBorderGrad;
}

.AdvSearchForm{
  display: flex;
  width: 100%;
}

.adv-search-form{
  display: flex;
  border: 5px double black;
  width: 100%;
}

.creature-type-group{
  display:flex;
  flex-flow: column wrap;
  align-content: center;
  width: 50%;
}

.form-g{
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  width:25%;
  border: 3px inset grey;
  padding: 1em;
  margin: 1em;
}

.multi-select-con{
  width: 75%;
  margin: 2em;
}

.switch-con{
  display: flex;
}
.mana-img{
  width: 35px;
  height: 35px;
  margin-right: 1em;
  margin-bottom: .5em;
}

.custom-control{
  padding: 5px;
}

div.multiselect, div.multiselect > * {
  background-color: rgb(57, 59, 59);
  color: aliceblue;
}