.SearchPage{
  border: 5px solid black;
}

.AdvSearchForm{
  width: 100%;
}

.adv-search-form{
  border: 5px solid black;
  width: 100%;
}

.form-g{
  width:175%;
  border: 3px solid black;
  padding: 1em;
}

div.multiselect, div.multiselect > * {
  background-color: rgb(57, 59, 59);
  color: aliceblue;
}

.mana-img{
  width: 30px;
  height: 30px;
}

.custom-control{
  padding: 5px;
}