@import'../../styles/variables.scss';



.AdvSearchForm{
  display: flex;
  width: 100%;
}

.adv-search-form{
  display: flex;

  width: 100%;
}

.creature-type-group{
  display:flex;
  flex-flow: column wrap;
  align-content: center;
  width: 50%;
}

.form-g{
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  width:25%;

  padding: 1em;
  margin: 1em;
}

.multi-select-con{
  width: 75%;
  margin: 2em;
}

.switch-con{
  display: flex;
}
.mana-img{
  width: 35px;
  height: 35px;
  margin-right: 1em;
  margin-bottom: .5em;
}

.custom-control{
  padding: 5px;
}

div.multiselect, div.multiselect > * {
  color: rgba(247, 196, 175, 0.815)!important;
  color: aliceblue; 
}

.submit-search{
  margin-top: -.1em!important;
  margin-bottom: .5em!important;
  margin-left: -.10em!important;
  // padding: .30em!important;
  padding-top: -5em!important;
  padding-bottom: -5em!important;
  border-radius: 5% 20% 20% 5% !important;
}

.search-con{
  width:100%
}