@import'../../../styles/variables.scss';
.DeckCollectionPage{
  //background-color: rgba(0, 0, 0, 0);
  border: $bgBorderGrad;
  height: 100%;
  width: 75%;
  margin: 0 auto;
  border-radius: .5%;
  display: flex;
  flex-flow: row wrap;
}

.close{
  position: absolute;
  padding: .75em;
}
.x{
  color:red;
}

.my-deck-header a{
  font-size: xx-large;
  font-weight: 500;
  color: aliceblue;
}


.decks-label{
  display: flex;
  align-content: center;
  justify-content: center;
  margin-bottom: 20px;
}

.add-deck-btn{
  height: 30px;
  width: 99px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  padding: 0;
}

.deck-container{
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
}




.list-item-img{
  width: 100px;
  height: 100px;
}

.oracle-txt{
  width: 100%;
  margin: 0 auto;
}

.deck-check{
  height: 20px;
  width: 20px;
}

.deck-mana-img{
  width: 25px;
  height: 25px;
  margin: 5px;
}

.img-a{
  position:relative;
}
.img-b{
  position:relative;
}