.binder-container, .deck-container{
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
}

.Binder, .Deck{
  border: 3px outset grey;
  background-color: rgba(20, 27, 25, 0.8);
}

.binders-label, .decks-label{
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 20px;
}

.add-binder-btn, .add-deck-btn{
  height: 30px;
  width: 99px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  padding: 0;
}