@import'./variables.scss';


body > #root > div {
  height: 100vh;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, .App{
  background-image: url('./assets/beyond.jpg');
  background-repeat: repeat;
  background-size: 135%;
  box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.233);
  background-position: -35em 0em ;
}

.bg-img{
  background-image: url(../styles/assets/spir.png);
  position: absolute;
  border-left: 7px outset rgba(73, 18, 83, 0.452);
  border-right: 5px outset rgba(117, 35, 131, 0.514);
  box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.55);
  -webkit-filter: blur(5px);
  filter: blur(5px);
  width: 70%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 15%;
  right: 15%;
  z-index: 0;
  opacity: .80;
}


.MyNav{
  
} 

a{
  color:rgb(234, 198, 255);
  font-size: large;
  font-weight: 500;
}

.PageComp{
  width: 75%;
  //border: 2px solid red;
  margin: 0 auto;
  height: 100vh;
}
.PageCon{
  width: 100%;
  height: 100vh;
}



.card-deck{
  display: flex;
  justify-content: center;
}


.my-deck-card{
  background-color: transparentize($color: #00000000, $amount: 0);
  padding: 1em;
  margin: 1em;
}

.modal-content{
  background-color: rgba(8, 6, 14, 0.781);
  background-image: linear-gradient(147deg, rgba(19, 11, 46, 0.753) 0%, rgba(34, 23, 18, 0.815)80%);
  border: 5px inset rgba(45, 7, 54, 0.253);
  color: aliceblue;
}