@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Fjalla+One|Lato|Oxygen|Playfair+Display|Uncial+Antiqua&display=swap');

$Uncial-Antiqua: 'Uncial Antiqua', cursive;
$Lato: 'Lato', sans-serif;
$Oxygen: 'Oxygen', sans-serif;
$Playfair-Display: 'Playfair Display', serif;
$Fjalla-One: 'Fjalla One', sans-serif;
$Bree-Serif: 'Bree Serif', serif;

$maroonish: #420420;	
$deepBlue: #00094d;
$darkPeach: #4d0101;
$purp: #45063f;
$blueNavee: #14073e;

$maroonishRGB: rgb(66,4,32);
$deepBluneRGB:(0,9,77);
$darkPeachRGB: rgb(77,1,1);
$purpRGB: rgb(69,6,63);
$blueNaveeRGB: (20,7,62);

$ashiok: url(./assets/beyond.jpg);
$darkGreyTer: url(./assets/dark-grey-terrazzo.png);
$darkness: url(./assets/dark-grey-terrazzo.png);
$darkMosiac: url(./assets/mosaic.png);
$darkPrism: url(./assets/prism.png);
$darkSpir: url(./assets/spir.png);
$darkWheat: url(./assets/wheat.png);

$bgColorGrad: rgba(8, 6, 14, 0.781);
$bgImgGrad: linear-gradient(147deg, rgba(19, 11, 46, 0.753) 0%, rgba(34, 23, 18, 0.815)80%);
$bgBorderGrad: 5px inset rgba(45, 7, 54, 0.253);