@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Fjalla+One|Lato|Oxygen|Playfair+Display|Uncial+Antiqua&display=swap');

$Uncial-Antiqua: 'Uncial Antiqua', cursive;
$Lato: 'Lato', sans-serif;
$Oxygen: 'Oxygen', sans-serif;
$Playfair-Display: 'Playfair Display', serif;
$Fjalla-One: 'Fjalla One', sans-serif;
$Bree-Serif: 'Bree Serif', serif;