.CardInfo{
  display: flex;
  flex-flow: column wrap;
  align-content: space-evenly;
  width: 75%;
  margin: 0 auto;
}

.card-con{
  display: flex;
  flex-flow: row nowrap;
  // border-left: 5px inset rgba(21, 53, 29, 0.664);
  border-right: 5px inset rgba(21, 53, 29, 0.664);
  border-top: 5px inset rgba(21, 53, 29, 0.664);
  border-bottom: 5px inset rgba(21, 53, 29, 0.664);

  background-color: rgba(8, 6, 14, 0.2);
  background-image: linear-gradient(147deg, rgba(19, 11, 46, 0.753) 0%, rgba(34, 23, 18, 0.815)50%);
  border: 5px inset rgba(45, 7, 54, 0.253);
  padding: 1em;
}
.side-of-card{
  display: flex;
  flex-flow: column nowrap;
  // border-bottom: 5px outset rgba(21, 53, 29, 0.664);
  // border-left: 5px outset rgba(21, 53, 29, 0.664);
  // border-top: 5px outset rgba(21, 53, 29, 0.664);
  // border: 5px outset rgba(21, 53, 29, 0.664);
  margin-left: 1em;
  width: 100%;
  padding: 10px;
  background-color: rgba(8, 6, 14, 0.2);
  background-image: linear-gradient(147deg, rgba(19, 11, 46, 0.753) 0%, rgba(34, 23, 18, 0.815)50%);
  border: 5px inset rgba(45, 7, 54, 0.253);
}
.under-card{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  // border-left: 5px inset rgba(21, 53, 29, 0.664);
  // border-right: 5px inset rgba(21, 53, 29, 0.664);
  // border: 5px inset rgba(21, 53, 29, 0.664);
  background-color: rgba(8, 6, 14, 0.2);
  background-image: linear-gradient(147deg, rgba(19, 11, 46, 0.753) 0%, rgba(34, 23, 18, 0.815)50%);
  border: 5px inset rgba(45, 7, 54, 0.253);
}

.info-mana-img{
  width:25px;
  height: 25px;
  margin: .5em;
}

.card-info-img {
  width: 336px;
  height: 490px;
}

.legality-con{
  border-top: 1em inset rgba(47, 23, 114, 0.253);
  margin-top: 1em;
  padding-top: 1em;
}

.legality-dl{
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
}

.stats{
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
}

.is-legal{
  color: rgb(24, 80, 40);
  font-weight: 700;
}

.is-not-legal{
  color: rgb(255, 38, 0);
  font-weight: 700;
}

.legal-con{
  margin: 5px;
  display: flex;
  flex-flow: column nowrap;
}

.prices{
  display: flex;
  flex-flow: column wrap;
}

.purchases{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.external-links{
  display: flex;
  flex-flow: column wrap;
}

.external-link{
  color: aliceblue;
  margin: .25em;
}